<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
	<add name="db" connectionString="Data Source=mssql-132348-0.cloudclusters.net,19983; database=Glimpses;User ID=admin;Password=#Sahar2023 "
	 providerName="System.Data.SqlClient" />
	<add name="Glimpses_Clinic.Properties.Settings.EyeClinicConnectionString"
	connectionString="Data Source=mssql-132348-0.cloudclusters.net,19983;Initial Catalog=Glimpses;User ID=admin;Password=#Sahar2023"
	providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>